description = "Footer Widgets"

[viewBag]
==
<div class="module-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">{{ this.theme.company_title }}</h5>
                    <p>
                        <b>{{ this.theme.company_name }}</b><br />
                        {{ this.theme.contact_address }}<br />
                        {{ this.theme.contact_address2 }}</p>
                    <p>
                        <i class="fa fa-phone"></i> {{ this.theme.contact_phone }}<br />
                        <i class="fa fa-fax"></i> {{ this.theme.contact_fax }}</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:{{ this.theme.contact_email }}">{{ this.theme.contact_email }}</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">Recent Comments</h5>
                    <ul class="icon-list">
                        <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                        <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                        <li>Andy on <a href="#">Eco bag Mockup</a></li>
                        <li>Jack on <a href="#">Bottle Mockup</a></li>
                        <li>Mark on <a href="#">Our trip to the Alps</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">Blog Categories</h5>
                    <ul class="icon-list">
                        <li><a href="#">Photography - 7</a></li>
                        <li><a href="#">Web Design - 3</a></li>
                        <li><a href="#">Illustration - 12</a></li>
                        <li><a href="#">Marketing - 1</a></li>
                        <li><a href="#">Wordpress - 16</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">Popular Posts</h5>
                    <ul class="widget-posts">
                        <li class="clearfix">
                            <div class="widget-posts-image"><a href="#"><img src="{{ 'assets/images/content/06.jpg'|theme }}" alt="Post Thumbnail"/></a></div>
                            <div class="widget-posts-body">
                                <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                                <div class="widget-posts-meta">23 january</div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="widget-posts-image"><a href="#"><img src="{{ 'assets/images/content/05.jpg'|theme }}" alt="Post Thumbnail"/></a></div>
                            <div class="widget-posts-body">
                                <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                                <div class="widget-posts-meta">15 February</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>