description = "Header Image"

[viewBag]
==
<section class="home-section home-parallax home-fade home-full-height bg-dark-60 agency-page-header" id="home" data-background="{% if this.theme.main_image is not empty %}{{ this.theme.main_image|media }}{% endif %}">
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Grow your awesome idea</div>
            <div class="font-alt mb-40 titan-title-size-3">Chamy is <span class="rotate">modern | easy | flexible</span>
            </div><a class="section-scroll btn btn-border-w btn-circle" href="#about">Learn More</a>
        </div>
    </div>
</section>