description = "Header Slideshow"
==
{% set fpSlideshow = this.theme.main_slider %}

<section class="home-section home-parallax home-fade home-full-height" id="home">
    <div class="hero-slider">
        <ul class="slides">
        
            {% if fpSlideshow is not empty %}
            {% for slide in fpSlideshow %}
            <li class="bg-dark-30 bg-dark" style="background-image:url({% if slide.image is not empty %}{{ slide.image|media }}{% endif %});">
                <div class="titan-caption">
                    <div class="caption-content">
                        <div class="font-alt mb-30 titan-title-size-1">
                            {% if slide.subtitle is not empty %}
                            {{ slide.subtitle }}
                            {% endif %}
                        </div>
                        <div class="font-alt mb-40 titan-title-size-4">
                            {% if slide.title is not empty %} 
                            {{ slide.title }} 
                            {% endif %}
                        </div>
                        <a class="section-scroll btn btn-border-w btn-round" href="{% if slide.link is not empty %} {{ slide.link }} {% endif %}">
                            {% if slide.linktext is not empty %} {{ slide.linktext }} {% endif %}
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</section>