description = "Header Video"

[viewBag]
==
<section class="home-section home-full-height bg-dark-30" id="home">
    <div class="video-player" data-property="{videoURL:'{% if this.theme.main_video is not empty %}{{ this.theme.main_video }}{% endif %}', containment:'.home-section', startAt:18, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
    <div class="video-controls-box">
        <div class="container">
            <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
        </div>
    </div>
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div>
            <div class="font-alt mb-40 titan-title-size-4">This is Chamy</div><a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
        </div>
    </div>
</section>