==
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Be creative!</h2>
            <hr class="light">
            <p class="text-faded">What inspires you? We all need some inspiration now and then. Life gets crazy and it’s easy to lose that spark. The simplest way for me to get inspired is to go outside and look up. </p>
            <a href="#" class="btn btn-default btn-xl">Get Started!</a>
        </div>
    </div>
</div>