description = "Default"

[menu]
start = "id-7"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav navbar-nav navbar-right"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
==
{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Liath">
    
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <title>{{ this.theme.site_name }}</title>
    
    {% styles %}
    
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    
    <link href="{{ [
        'assets/lib/bootstrap/dist/css/bootstrap.min.css',
        'assets/lib/animate.css/animate.css',
        'assets/lib/components-font-awesome/css/font-awesome.min.css',
        'assets/lib/et-line-font/et-line-font.css',
        'assets/lib/flexslider/flexslider.css',
        'assets/lib/owl.carousel/dist/assets/owl.carousel.min.',
        'assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css.',
        'assets/lib/magnific-popup/dist/magnific-popup.css.',
        'assets/lib/simple-text-rotator/simpletextrotator.css.',
        'assets/css/style.css'
    ]|theme }}" rel="stylesheet">
    
    <link id="color-scheme" href="{{ 'assets/css/colors/default.css'|theme }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'assets/images/favicon.ico'|theme }}">

    {% placeholder head %}

</head>
    <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
        <main>
            <div class="page-loader">
                <div class="loader">Loading...</div>
            </div>
            <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="{{ 'assets/images/logo_w.png'|theme }}" alt="Logo" style="max-height: 30px;" /></a>
                    </div>
                    <div class="collapse navbar-collapse" id="custom-collapse">
                        {% component "menu" %}
                    </div>
                </div>
            </nav>
            
            {% if this.page.id == 'index' %}
                {% if this.theme.frontend_header_type == 'slideshow' %}
                    {% partial "header/slideshow" %}
                {% endif %}
                
                {% if this.theme.frontend_header_type == 'image' %}
                    {% partial "header/image" %}
                {% endif %}
                
                {% if this.theme.frontend_header_type == 'video' %}
                    {% partial "header/video" %}
                {% endif %}
            {% endif %}
            
            
            <div class="main">

            {% page %}
                
            <!-- Footer Widgets -->
            {% partial "footer/widgets" %}
            
            <hr class="divider-d">
            
            <!-- Footer -->
            {% partial "footer/footer" %}                

            </div>
            <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
        </main>

        <script src="{{ [
            'assets/lib/jquery/dist/jquery.js',
            'assets/lib/bootstrap/dist/js/bootstrap.min.js',
            'assets/lib/wow/dist/wow.js',
            'assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js',
            'assets/lib/isotope/dist/isotope.pkgd.js',
            'assets/lib/imagesloaded/imagesloaded.pkgd.js',
            'assets/lib/flexslider/jquery.flexslider.js',
            'assets/lib/owl.carousel/dist/owl.carousel.min.js',
            'assets/lib/magnific-popup/dist/jquery.magnific-popup.js',
            'assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js',
            'assets/js/plugins.js',
            'assets/js/main.js'
            ]|theme }}"></script>        

        {% scripts %} 

    </body>
</html>
{% endspaceless %}