description = "Section About"

[viewBag]
==
{% if this.theme.block_about == '1' %}
<section class="module pt-0 pb-0" id="about">
    <div class="row position-relative m-0">
        <div class="col-xs-12 col-md-6 side-image" data-background="{{ this.theme.about_image|media }}"></div>
        <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="module-title font-alt align-left">{{ this.theme.about_title }}</h2>
                    <div class="module-subtitle font-serif align-left">{{ this.theme.about_subtitle }}</div>
                    {{ this.theme.about_description|raw }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}